<!--logo, category-->
<div th:fragment="footer">
    <div class="mobile_menu none">
        <a href="/timeline/timeline"><img th:src="@{/images/include/timeline.png}"><span>타임라인</span></a>
        <a href="/festival/chat"><img th:src="@{/images/include/chat.png}"><span>챗</span></a>
        <a href="/"><img th:src="@{/images/include/home.png}"><span>HOME</span></a>
        <a href="/member/login"><img th:src="@{/images/include/my.png}"><span>My</span></a>
        <a href="/"><img th:src="@{/images/include/more.png}"><span>더보기</span></a>
    </div>

    <div class="footer_div">
        회사소개 | 인재채용 | 제휴제안 | 이용약관 | 개인정보처리방침 | 청소년보호정책 | 고객센터
        <br>Copyright 2019 ⓒ Fastival. All rights reserved
    </div>
    </body>
    </html>
</div>