<!--공통으로 include할 link, script-->
<div th:fragment="include">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/include/include.css">
    <link rel="stylesheet" href="/css/include/header.css">
    <link rel="stylesheet" href="/css/include/footer.css">
    <script type="text/javascript" src="/js/include/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/include/include.js"></script>
    <script type="text/javascript" src="/js/include/header.js"></script>
</div>