<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/include::include"></head>
<head>
    <title th:text="${title}"></title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/include/favicon.png}">
    <link rel="stylesheet" href="/css/festival/info.css">
    <script type="text/javascript" src="/js/festival/info.js"></script>
</head>
<body>
<!--header-->
<header class="header_" th:include="include/header::header"></header>

<!--body-->
<div class="body_">

</div>

<!--footer-->
<footer class="footer_" th:include="include/footer::footer"></footer>